<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Demo</title>
</head>

<body>
  <h3>Email from app: {{app_url}}</h3>
  <p>Hey, I am {{name}}</p>
  <p>Message: {{message}}</p>
</body>

</html>